window {
    margin: 0px;
    border-radius: 4px;
    border: 2px solid #CD5119;
    background-color: #030203;
}

#input {
    margin: 5px;
    padding: 5px;
    border: 1px solid #868a89;
    color: #c0c6c5;
    background-color: #030203;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #030203;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #030203;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #c0c6c5;
}

#entry {
    padding: 4px;
    border-radius: 4px;
}

#entry:selected {
    background-color: #CD5119;
    color: #030203;
}

#entry:hover {
    background-color: #868a89;
}
