window {
    margin: 0px;
    border-radius: 4px;
    border: 2px solid #33588F;
    background-color: #0D172C;
}

#input {
    margin: 5px;
    padding: 5px;
    border: 1px solid #a5a0a4;
    color: #ede5eb;
    background-color: #0D172C;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #0D172C;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #0D172C;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #ede5eb;
}

#entry {
    padding: 4px;
    border-radius: 4px;
}

#entry:selected {
    background-color: #33588F;
    color: #0D172C;
}

#entry:hover {
    background-color: #a5a0a4;
}
