window {
    margin: 0px;
    border-radius: 4px;
    border: 2px solid #4D5C62;
    background-color: #0c080a;
}

#input {
    margin: 5px;
    padding: 5px;
    border: 1px solid #768d9a;
    color: #a9cadc;
    background-color: #0c080a;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #0c080a;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #0c080a;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #a9cadc;
}

#entry {
    padding: 4px;
    border-radius: 4px;
}

#entry:selected {
    background-color: #4D5C62;
    color: #0c080a;
}

#entry:hover {
    background-color: #768d9a;
}
