window {
    margin: 0px;
    border-radius: 4px;
    border: 2px solid #8E8076;
    background-color: #0b0f12;
}

#input {
    margin: 5px;
    padding: 5px;
    border: 1px solid #959696;
    color: #d6d7d7;
    background-color: #0b0f12;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #0b0f12;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #0b0f12;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #d6d7d7;
}

#entry {
    padding: 4px;
    border-radius: 4px;
}

#entry:selected {
    background-color: #8E8076;
    color: #0b0f12;
}

#entry:hover {
    background-color: #959696;
}
